$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$orange: #e9856b;
$red: #D22513;
$grey1: #686A7C;
$grey2: #5e5a5a;
$green: #27AE60;


$calendar_blue_color: rgb(55, 136, 216);
$calendar_background_blue_color: rgba(55, 136, 216, .2);
$calendar_hover_blue_color: rgba(55, 136, 216, .3);

$calendar_orange_color: rgb(233, 133, 107);
$calendar_background_orange_color: rgba(233, 133, 107, .2);
$calendar_hover_orange_color: rgba(233, 133, 107, .3);

$calendar_green_color: rgb(17, 136, 36);
$calendar_background_green_color: rgba(17, 136, 36, .2);
$calendar_hover_green_color: rgba(17, 136, 36, .3);